## Load dataframes and drop books without a title

In [1]:
import pandas as pd

In [2]:
books = pd.read_csv("data_sets/duplicate_detection_with_ngrams.csv")

In [3]:
books.dropna(subset="Title", inplace=True)

In [4]:
reviews = pd.read_csv("data_sets/Reviews_Raw.csv", usecols = ['Title', 'User_id', 'review/score', 'review/time'])

In [5]:
reviews.dropna(subset="Title", inplace=True)

## Merge columns

In [6]:
merged_df = reviews.merge(books, on='Title', how='left')
merged_df.head()

,Title,User_id,review/score,review/time,book_id
0,Its Only Art If Its Well Hung!,AVCGYZL8FQQTD,4.0,940636800,1.0
1,Dr. Seuss: American Icon,A30TK6U7DNS82R,5.0,1095724800,2.0
2,Dr. Seuss: American Icon,A3UH4UZ4RSVO82,5.0,1078790400,2.0
3,Dr. Seuss: American Icon,A2MVUWT453QH61,4.0,1090713600,2.0
4,Dr. Seuss: American Icon,A22X4XUPKF66MR,4.0,1107993600,2.0

In [11]:
idx = merged_df.groupby(['Title', 'User_id'])['review/time'].idxmax()

In [41]:
kept_df = merged_df.loc[idx].reset_index(drop=True)

# Identify the rows that are in the original dataframe but not in the kept rows dataframe
# Here we use the indices in `idx` to compare
original_indices = merged_df.index
kept_indices = idx
removed_indices = original_indices.difference(kept_indices)

# Create the dataframe with the rows that have been removed
removed_df = merged_df.loc[removed_indices].reset_index(drop=True)

In [42]:
kept_df.count()

Title           2115811
User_id         2115811
review/score    2115811
review/time     2115811
book_id         2115811
dtype: int64

In [43]:
kept_df.head()

,Title,User_id,review/score,review/time,book_id
0,""" Film technique, "" and, "" Film acting """,A16MDRPUTCW4IF,5.0,1250726400,114675.0
1,""" Film technique, "" and, "" Film acting """,A3PPO4VVZKW9FI,4.0,949708800,114675.0
2,""" We'll Always Have Paris"": The Definitive Gui...",A2XFM8PN6G0B02,5.0,1080432000,28242.0
3,""" We'll Always Have Paris"": The Definitive Gui...",A4RXXT5KB9WVJ,5.0,1198713600,28242.0
4,"""... And Poetry is Born ..."" Russian Classical...",A1PPF42PNXGFC3,4.0,1284940800,110326.0

In [44]:
removed_df.count()

Title           883981
User_id         322207
review/score    883981
review/time     883981
book_id         883981
dtype: int64

In [60]:
merged_df.loc[merged_df['Title'] == 'Pride and Prejudice'].sort_values('User_id').head(15)

,Title,User_id,review/score,review/time,book_id
2049577,Pride and Prejudice,A0919846H34XADJMF99R,5.0,1358553600,28076.0
921848,Pride and Prejudice,A0919846H34XADJMF99R,5.0,1358553600,28076.0
1338446,Pride and Prejudice,A0919846H34XADJMF99R,5.0,1358553600,28076.0
2284051,Pride and Prejudice,A0919846H34XADJMF99R,5.0,1358553600,28076.0
1305828,Pride and Prejudice,A0919846H34XADJMF99R,5.0,1358553600,28076.0
981923,Pride and Prejudice,A0919846H34XADJMF99R,5.0,1358553600,28076.0
1677051,Pride and Prejudice,A0919846H34XADJMF99R,5.0,1358553600,28076.0
2252317,Pride and Prejudice,A0919846H34XADJMF99R,5.0,1358553600,28076.0
2615906,Pride and Prejudice,A0919846H34XADJMF99R,5.0,1358553600,28076.0
399872,Pride and Prejudice,A0919846H34XADJMF99R,5.0,1358553600,28076.0
1678335,Pride and Prejudice,A101B5TJQQZYJB,5.0,1167782400,28076.0
1339530,Pride and Prejudice,A101B5TJQQZYJB,5.0,1167782400,28076.0
982746,Pride and Prejudice,A101B5TJQQZYJB,5.0,1167782400,28076.0
920665,Pride and Prejudice,A101B5TJQQZYJB,5.0,1167782400,28076.0
2617064,Pride and Prejudice,A101B5TJQQZYJB,5.0,1167782400,28076.0

In [56]:
kept_df.loc[kept_df['Title'] == 'Pride and Prejudice'].sort_values('User_id')

,Title,User_id,review/score,review/time,book_id
1162953,Pride and Prejudice,A0919846H34XADJMF99R,5.0,1358553600,28076.0
1162954,Pride and Prejudice,A101B5TJQQZYJB,5.0,1167782400,28076.0
1162955,Pride and Prejudice,A101D103BE317E,5.0,1299801600,28076.0
1162956,Pride and Prejudice,A104N6N2GO0WRG,5.0,1313107200,28076.0
1162957,Pride and Prejudice,A105L4AE1HAC4Y,5.0,1057536000,28076.0
...,...,...,...,...,...
1164706,Pride and Prejudice,AZSNQ9FYC5SQO,5.0,1360713600,28076.0
1164707,Pride and Prejudice,AZY3VFWDGO983,5.0,1358035200,28076.0
1164708,Pride and Prejudice,AZYCUA0W5O0IJ,3.0,1361145600,28076.0
1164709,Pride and Prejudice,AZYZ6338V6TLU,2.0,1311638400,28076.0
1164710,Pride and Prejudice,AZZUIE66HZNY1,5.0,1356912000,28076.0

In [61]:
reviews.loc[reviews['Title'] == 'Pride and Prejudice'].sort_values('User_id').head(15)

                       Title               User_id  review/score  review/time
2049769  Pride and Prejudice  A0919846H34XADJMF99R           5.0   1358553600
921855   Pride and Prejudice  A0919846H34XADJMF99R           5.0   1358553600
1338638  Pride and Prejudice  A0919846H34XADJMF99R           5.0   1358553600
2284246  Pride and Prejudice  A0919846H34XADJMF99R           5.0   1358553600
1306020  Pride and Prejudice  A0919846H34XADJMF99R           5.0   1358553600
981930   Pride and Prejudice  A0919846H34XADJMF99R           5.0   1358553600
1677243  Pride and Prejudice  A0919846H34XADJMF99R           5.0   1358553600
2252511  Pride and Prejudice  A0919846H34XADJMF99R           5.0   1358553600
2616102  Pride and Prejudice  A0919846H34XADJMF99R           5.0   1358553600
399876   Pride and Prejudice  A0919846H34XADJMF99R           5.0   1358553600
1678527  Pride and Prejudice        A101B5TJQQZYJB           5.0   1167782400
1339722  Pride and Prejudice        A101B5TJQQZYJB           5.0   1167782400
982753   Pride and Prejudice        A101B5TJQQZYJB           5.0   1167782400
920672   Pride and Prejudice        A101B5TJQQZYJB           5.0   1167782400
2617260  Pride and Prejudice        A101B5TJQQZYJB           5.0   1167782400

In [59]:
removed_df.loc[removed_df['Title'] == 'Pride and Prejudice'].sort_values('User_id').head(10)

,Title,User_id,review/score,review/time,book_id
637897,Pride and Prejudice,A0919846H34XADJMF99R,5.0,1358553600,28076.0
450155,Pride and Prejudice,A0919846H34XADJMF99R,5.0,1358553600,28076.0
344749,Pride and Prejudice,A0919846H34XADJMF99R,5.0,1358553600,28076.0
249677,Pride and Prejudice,A0919846H34XADJMF99R,5.0,1358553600,28076.0
230645,Pride and Prejudice,A0919846H34XADJMF99R,5.0,1358553600,28076.0
757123,Pride and Prejudice,A0919846H34XADJMF99R,5.0,1358553600,28076.0
353407,Pride and Prejudice,A0919846H34XADJMF99R,5.0,1358553600,28076.0
569308,Pride and Prejudice,A0919846H34XADJMF99R,5.0,1358553600,28076.0
650111,Pride and Prejudice,A0919846H34XADJMF99R,5.0,1358553600,28076.0
354491,Pride and Prejudice,A101B5TJQQZYJB,5.0,1167782400,28076.0

## Take most recent reviews only, if time is the same, take average of those entries

In [62]:
max_time_df = merged_df.groupby(['Title', 'User_id'])['review/time'].max().reset_index()

# Merge to get the rows with the max review/time
merged_with_max_time = pd.merge(merged_df, max_time_df, on=['Title', 'User_id', 'review/time'])

# Now, group again to calculate the average review/score for the rows with the max review/time
final_df = merged_with_max_time.groupby(['Title', 'User_id', 'review/time']).agg({
    'review/score': 'mean',
    'book_id': 'first',  # 'book_id' should be the same for the same title
}).reset_index()

# Optionally, you can re-arrange the columns to match the original order if needed
final_df = final_df[['Title', 'User_id', 'review/score', 'review/time', 'book_id']]

# To see the rows that were removed, you can find the difference between the original and final_df
removed_df = pd.concat([merged_df, final_df]).drop_duplicates(keep=False).reset_index(drop=True)

In [68]:
final_df.loc[(final_df['Title'] == '1st to Die: A Novel') & (final_df['User_id']== 'A1NPKE12L47JMK')]

                    Title         User_id  review/score  review/time   book_id
9776  1st to Die: A Novel  A1NPKE12L47JMK           4.5   1004313600  124538.0

In [69]:
reviews.loc[(reviews['Title'] == '1st to Die: A Novel') & (reviews['User_id']== 'A1NPKE12L47JMK')]

                       Title         User_id  review/score  review/time
2951659  1st to Die: A Novel  A1NPKE12L47JMK           5.0   1004313600
2952133  1st to Die: A Novel  A1NPKE12L47JMK           4.0   1004313600

## Write to CSV

In [71]:
final_df.to_csv('data_sets/clean_reviews_indexed.csv', index = False)